<tr>
    <td class="col-lg-1">
        <i title="Complete task"
           class="glyphicon glyphicon-ok"
           style="color: green; padding-right: 5px"
           data-dojo-attach-event="onclick:_onMarkComplete"></i>
    </td>
    <td class="col-lg-9" align="left">
        <span style="font-size: 16pt">${taskData.description}</span>
    </td>
    <td class="col-lg-2" align="right">
        <i title="Edit task"
           class="glyphicon glyphicon-edit"
           data-dojo-attach-event="onclick:_onEdit"></i>
        <i title="Delete task"
           class="glyphicon glyphicon-remove"
           style="color: red; padding-left: 5px"
           data-dojo-attach-event="onclick:_onDelete"></i>
    </td>
</tr>
